{% extends 'base.html' %}

{% block title %}
Students
{% endblock %}

{% block content %}

<h1>Students List</h1>

{% for student in students %}
    <div class="student-card">
        <strong>
            {{ student.first_name }} {{ student.last_name }}
        </strong>

        <p>Email: {{ student.email }}</p>
        <p>Phone: {{ student.phone }}</p>
        <p>Parent Name: {{ student.parent_name }}</p>
        <p>Parent Phone: {{ student.parent_phone }}</p>
        <p>Parent Email: {{ student.parent_email }}</p>
    </div>
{% empty %}
    <p>No students found.</p>
{% endfor %}

{% endblock %}