body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}


/* Верхнє меню */

header {
    background-color: #24384d;
    padding: 15px 40px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 40px 60px;
}


/* Заголовки */

h1 {
    color: #24384d;
    margin-bottom: 30px;
}


/* Картки */

.student-card,
.branch-card,
.subject-card {

    background: white;

    padding: 15px 20px;

    margin-bottom: 15px;

    border-radius: 10px;

    width: 350px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.student-card strong,
.branch-card strong,
.subject-card strong {

    font-size: 18px;

    display: block;

    margin-bottom: 8px;
}

.student-card p,
.branch-card p,
.subject-card p {

    margin: 4px 0;

    color: #444;
}