<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
Subjects List
{% endblock %}

{% block content %}
<body>

<h1>Subjects List</h1>

{% for subject in subjects %}

<div style="
    background:#f2f2f2;
    margin:10px 0;
    padding:15px;
    border-radius:8px;
">

    <strong>
        {{ subject.name }}
    </strong>

    <p>
        Branch: {{ subject.branch.name }}
    </p>

    <p>
        Status: {{ subject.status }}
    </p>

</div>

{% empty %}

<p>No subjects found.</p>

{% endfor %}

</body>
</html>

{% endblock %}