{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        Edu Center
        {% endblock %}
    </title>

</head>


<body>


<!-- Верхнє меню -->

<header>

    <nav>

        <a href="/branches/">Branches</a> |

        <a href="/students/">Students</a> |

        <a href="/subjects/">Subjects</a> |

        <a href="/groups/">Groups</a> |

        <a href="/lessons/">Lessons</a> |

        <a href="/attendance/">Attendance</a> |
        
        <a href="/subscriptions/">Subscriptions</a>

    </nav>

</header>



<!-- Контент сторінок -->

<div class="container">

    {% block content %}
    {% endblock %}

</div>



</body>
</html>