{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h1>Welcome to Edu Center</h1>

<div class="card">

<h2>Navigation</h2>

<p>
<a href="/branches/">Go to Branches</a>
</p>

<p>
<a href="/students/">Go to Students</a>
</p>

<p>
<a href="/subjects/">Go to Subjects</a>
</p>

<p>
    <a href="/groups/">Go to Groups</a>
</p>

<p>
    <a href="/lessons/">Go to Lessons</a>
</p>

<p>
    <a href="/attendance/">Go to Attendance</a>
</p>

<p>
    <a href="/subscriptions/">Go to Subscriptions</a>
</p>

</div>

{% endblock %}